<div class="row">
    <div class="col-md-6 offset-3 alert alert-primary text-center">
        <h2>The order has been successfully processed and finalized</h2>
        <a class="btn btn-outline-secondary" asp-action="Index">Ok</a>
    </div>
</div>